@model WebService.WebClient.Models.BORROWER

@{
    ViewBag.Title = "Ishenim WebService";
}
<h3>Поиск информации по ID заемщика</h3>
<hr />

@using (Html.BeginForm("SearchBorrowInfo", "BORROWER", FormMethod.Post))
{
    @Html.AntiForgeryToken()

      <div class="form-body">
          <div class="form-group">
              @Html.Label("Введите ID заемщика")
              <input type="number" name="lico_id" id="lico_id" />
          </div>
          <input class="btn btn-default" type="submit" value="Поиск" />
      </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
